@import "tailwindcss";

/* Adding custom font - Test Tiempos Headline (Heading) - START */
@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Test Tiempos Headline";
  src: url("/fonts/TestTiemposHeadline-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Adding custom font - Test Tiempos Headline - END */

/* Adding custom font - Maison Neue (Body) - START */
@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maison Neue";
  src: url("/fonts/MaisonNeue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Adding custom font - Maison Neue - END */

@theme {
  --font-maison-neue: "Maison Neue", serif;
  --font-test-tiempos-headline: "Test Tiempos Headline", serif;
  --color-primary-blue: #58bdf6;
  --color-primary-darkBlue: #000D14;
  --breakpoint-3xl: 1920px
}

.custom-border-left {
  border-image-source: url('/public/how-it-works/key-benefits-border-left.svg');
  border-image-slice: 40; /* How the image is divided into corners & edges */
  border-image-repeat: stretch; /* or round / repeat */
}